h1, h2 {
  text-align: center;
}

.container {
  margin: 5%
}

div.continue {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.continue {
  padding: 1%;
  border-radius: 10%;
}

.btn-container {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.opener {
  background-size: contain;
  height: 20vh;
  margin: 1% 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.opener p{
  width: 30%;
  background: black;
  color:aliceblue;
  text-align: center;
  margin: 0;
}

.opener p a {
  color: lightblue
}

.home{
  background-image: url('./assets/homeBackground.jpg');
}

.bar{
  background-image: url('./assets/barBackground.jpg');
}


